<div class="contacts-tot-div">
  <div class="contact-align">
    <div class="contacts">
      <div class="col contact-txt">
        <span>Contacts</span>
      </div>
      <div class="col contact-icon">
        <mat-icon>group</mat-icon>
      </div>
    </div>
    <div class="serach-input-tot-div">
      <mat-form-field appearance=outline>
        <!-- <mat-label> Outline form field </mat-label>   -->
        <mat-icon matPrefix class="search-icon"> search </mat-icon>
        <input matInput placeholder="Serarch messages or users" class="search-input">
      </mat-form-field>
    </div>
  </div>
  <div class="contact-align">
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>

              
                <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                  <button mat-menu-item>
                    <span>Share</span>
                    <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                  </button>
                  <button mat-menu-item>
                    <span>Block</span>
                    <mat-icon>block</mat-icon>
                  </button>
                  <button mat-menu-item>
                    <span>Remove</span>
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-menu>
              
              
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon>share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>B</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Blbert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Bllison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="alphabet">
        <span>A</span>
      </div>
      <ul class="nobull">
        <li>
          <div class="col">Albert Rodarte</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
        <li>
          <div class="col">Allison Etter</div>
          <div class="col-1 contact-drop-down">
            <div class="chatmenu-con">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="border-0 mat-icon-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
                <button mat-menu-item>
                  <span>Share</span>
                  <mat-icon style="float:right;padding-top:10px">share</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Block</span>
                  <mat-icon>block</mat-icon>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>