
.chat-total-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 25px 10px;
    font-family: Public Sans,sans-serif;
    display: flex;
    flex-flow: column;
    // margin-right: 0;
    // margin-left: 18px;
    
}
.container-1 {
    padding: 4px 4px 0 4px;
    font-family: Public Sans,sans-serif;
    width: 100%;
}
.chat {
    font-size: 20px;
    color: #495057;
   
    font-weight: 600;
}
.serach-input-tot-div {

    margin-top: 20px;
    
    .search-icon{
        padding: 0 5px;
        color: #A4A0A6;
    }
    .search-input {
        margin-left: 15px;
    }
}
.mat-form-field {
    width: 100%;
  }     
  :host ::ng-deep div.mat-form-field-outline-start{
    border-color: 0 !important;
    border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-gap{
    border-color: 0 !important;
    border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-end{
    border-color: 0 !important;
    border-width: 0px !important;
}

.chat-users-tot-div  {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
}
.chat-user {
    min-width: 71px;
    max-width: 71px;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-user-name {
    position: relative;
    text-align: center;
    border-radius: 7px;
    background-color: #e6ebf5;
    padding: 5px 5px 1px 5px;
    p {
        margin-top: 15px;
    }
    img {
        position: absolute;
        top: -13px;
        left: 18px;
    }
    ::before
    {
        content: "";
        padding: 3px;
        position: absolute;
        border-color: white;
         background-color: #06d6a0;
        border-width: 2px;
        border-style: solid;        
        top: 12px;
        right: 22px;
        // width: 5px;
        // height: 5px;
        border-radius: 50%;
    }
}

.recent-tot-div {
    margin-left: 3px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.recent-head-text {
    margin-left: 3px;
    font-size: 15px;
    color: #495057;
    font-weight: 600;
    padding-left: 5px;
}

.nobull {
    list-style: none;
    padding-left: 0;
    height: 300px;
    li {
        // background-color: bisque;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px 15px 15px 5px;
        
    }
    li:hover{
        background-color: #e7ebf6;
        border-radius: 5px;
    }
    
}

.chat-list-div {
    display: flex;
    padding-left: 5px;
}
.chat-list {
    min-width: 50px;
    max-width: 50px;
    margin-right: 5px;
    margin-top: 5px;
}
.chat-list-avatar {
    // background-color: yellow;
    position: relative;
    padding: 0; 
    // margin-top: 5px;
    // max-width: 50px;
    // min-width: 50px;
    
    
}
.chat-list-avatar::before {
    // content:"hai" ;
    content: "";
    position: absolute;
    left: 20px;
    bottom: -4px;
    border-color: white;
    // border-color: red green yllow blue;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    
    background-color: #06d6a0;
    padding: 3px;
}
.chat-list-name {
    font-size: 15px;
    font-family: Public Sans,sans-serif;
    font-weight: 600;
    color: #495057;
    p {
        color: #7a7f9a;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.chat-time {
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    
    max-width: 60px;
    min-width: 60px;
    text-align: end;

    padding: 0;
    font-size: 11px;
    color: #7a7f9a;
    p {
         margin:  0 0 0 35px;
        //  margin-left: 35px;
        // text-align: center;
        // margin-right: 5px;
        width: 22px;
        
        // border: 1px solid;
        border-radius: 50%;
        padding: 1px 5px;
        color: #ef476f;
        background-color: rgba(239,71,111,.18);

    }
}

.avatar-icons-instead-txt{
    // border: 1px solid;
    border-radius: 50%;
    text-align: center;
    padding: 9px 12px;
    color: #7269ef;
    background-color: #C9CAF4;
    font-weight: 600;
}

