.tab-content {

    // width: 380px;
    // background-color: #f7f7ff;
    background-color: #f6f7fb;
    // height: 100vh;
    
}
h1,h2,h3,h4,h5,h6{
    color: #495057;
    font-family: Public Sans,sans-serif;
    font-weight: 600;
}
h4{
    font-size: 1.3125rem;
}

.menu-icon {
    background-color: #f6f7fb;
    padding-right: 6px;
    .mat-icon{
        font-size: 18px;
    }
}
.avatar-lg {
    height: 6rem;
    width: 6rem;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #f7f7ff
}
.name-size {
    font-size: 1rem;
}
.text-success {
    color: #06d6a0 !important;    
}
.bi-record-circle-fill {
    font-size: 8px;
    padding-right: 8px;
    
}
.text-active-font {
    font-size: 15px;
}
.border-bottom {
    border-bottom: 1px solid #f0eff5!important;
}
.text-muted {
    color: #7a7f9a!important;
    font-size: .96rem;
}
.card-body {
    padding: 0;
    padding-top: 1rem;
    h5 {
        font-size: 13px;
    }
}

.scrollbar {
    height: 280px;
    display: block;
    padding-right: 3px;
    
      overflow: auto;
    // overflow: hidden;
}
.scrollbar:hover {
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 133); 
    border-radius: 10px;
    
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
     background: rgb(133, 133, 133); 
  }
  
  .mat-expansion-panel-header:not([aria-disabled=true]) {
        cursor: pointer;
        height: 45px;
    }
    
    .mat-expanded, .mat-expansion-panel {
        .mat-expansion-panel-header:hover{
            background-color:   #f6f7fb;
        }
        .mat-expansion-panel-header{
            background-color:   #f6f7fb;
        }
    }
    .icon-size-person-and-attach {
        font-size: 18px;
        padding-top: 3px
    }
    .mat-panel-title-span:hover {
        
            text-decoration: underline;
    }

    .mat-expansion-panel-body {
        padding-top: 15px !important;
    }
    .attach-file-card {
        // margin: 22px 0px;
        margin-top: 5px;
        margin-bottom: 6px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 0px;
        border: 1px solid #f0eff5!important;
        border-radius: 5px;
        border
        .row {
            padding-top: 0px;
            padding-bottom: 0pxpx;
            margin-top: 1px;
            margin-bottom: 1px;
        }
    }
    .attach-file-card-file-icon-div {
        padding: 10px;
        font-size: 22px;
        
        i{
            // border: 1px solid gray;
            border-radius: 5px;
            background-color: #dad8fc;
            
            color: #726be5;
            padding: 10px 13px;
        }
    }
    .attach-file-card-file-size-div {
        padding-top: 2px;
        // p{
        //    font-family:  Public Sans, sans-serif;
        //    color: #495057;
        //    font-weight: 600;
        //     font-size: 15px;
        //     padding: 0%;
        // }
    }
    .attach-file-card-file {
        
        padding-left: 22px;
        h5 {
            font-size: 13px;
            margin-bottom: 0%;
        }
        p{
            font-size: 13px;
            font-weight: 430;
        }
        
    }
    .attach-file-card-download-icon{
        justify-content: end;
        padding-top: 10px;
        .bi-download {
            padding-right: 12px;
        }
        .bi-three-dots {
            padding-right: 12px;
        }

    }
    .download-icon {
        display: flex;        
        font-size: 17px;
        font-weight: 300;
        margin-left: 25px;
    }
    .bg-transparent{
        background-color: transparent;
    }
