<!-- <div class="container"> 
    <div class="text-center">
        <div >
            <img src="assets/images/logo-dark.png" height="30">
        </div>
        <div>
            <h4>Sign Up</h4>
            <p>Get your Chatvia account now.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form>            
            <mat-card>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter username">
                        <mat-icon matPrefix class="my-icon">person_outline</mat-icon>                        
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" >
                        <mat-icon matPrefix class="my-icon">mail</mat-icon>                        
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" >
                        <mat-icon matPrefix class="my-icon">lock</mat-icon>                        
                    </mat-form-field>
                </div>   
                <div >
                    <button mat-raised-button color="primary" class="my-class">Sign Up</button>                    
                </div>             
                <div>
                    <p>By registering you agree to the Chatvia <a href="">Terms of Use</a></p>
                </div>
            </mat-card>

            <div class="text-center">
                <p>Already have an account ? <a routerLink="/sign-in">Signin</a></p>

                <p>© 2022 Chatvia. Crafted with <mat-icon class="text-danger">favorite</mat-icon> by Themesbrand</p>
            </div>
        </form>
    </div>
</div> -->

<div class="pt-5 mt-5">    
    <div class="container min-vh-100">		
      <div class="row justify-content-center mx-12">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="text-center mb-4">
            <a href="" class="mb-5 d-block">
              <img src="assets/images/logo-dark.png" height="30"> 
            </a>
            <h4>Sign up</h4>
            <p>Get your Chatvia account now.</p>
          </div>
          <div class="card"> 
            <div class="card-body p-4">
              <div class="p-3">
                <form>
                  <div class="form-group ">
                    <label>Username</label>                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon inline="true">person_outline</mat-icon></span>
                      </div>
                      <input type="text" class="form-control  " placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                                      
                  </div>

                  <div class="form-group ">
                    <label>Email</label>                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon inline="true"> mail_outline</mat-icon></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                                      
                  </div>

                  <div class="form-group ">
                    <label>Password</label>                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon inline="true">lock</mat-icon></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                   
                    <div>
                      <button type="button" class="btn btn-primary btn-sm btn-block w-100 p-2 b-1">Sign in</button>                      
                    </div>

                    <div class="mt-5 text-center">
                        <p>By registering you agree to the Chatvia <a routerLink="/" class="text-decoration-none">Terms of Use </a></p>
                    </div>
                    
                    
                                      
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="mt-5 text-center">
            <p class="">Already have an account ? <a routerLink="/sign-in" class="text-decoration-none">Signin</a></p>      
            <p>© 2022 Chatvia. Crafted with <i class="bi bi-heart-fill text-danger"></i> by Themesbrand</p>

          </div>

        </div>			
      </div>
    </div>
    </div>