<div class="pt-5 mt-5">
  <div class="container min-vh-100">
    <div class="row justify-content-center mx-12">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a href="" class="mb-5 d-block">
            <img src="assets/images/logo-dark.png" height="30">
          </a>
          <h4>Sign up</h4>
          <p>Get your Chatvia account now.</p>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">
              <form>
                <div class="form-group ">
                  <label>Username</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <mat-icon inline="true">person_outline</mat-icon>
                      </span>
                    </div>
                    <input type="text" class="form-control  " placeholder="Username" aria-label="Username"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="form-group ">
                  <label>Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <mat-icon inline="true"> mail_outline</mat-icon>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" aria-label="email"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="form-group ">
                  <label>Password</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <mat-icon inline="true">lock</mat-icon>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                      aria-describedby="basic-addon1">
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary btn-sm btn-block w-100 p-2 b-1" (click)="signUp()">Sign
                      Up</button>
                  </div>
                  <div class="mt-5 text-center">
                    <p>By registering you agree to the Chatvia <a routerLink="/" class="text-decoration-none">Terms of
                        Use </a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p class="">Already have an account ? <a routerLink="/sign-in" class="text-decoration-none">Signin</a></p>
          <p>© 2022 Chatvia. Crafted with <i class="bi bi-heart-fill text-danger"></i> by Themesbrand</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container"> 
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="formGroup.controls['username'].invalid">
        {{getError('user')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="!formGroup.controls['password'].valid">
        {{getError('pass')}}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
</div> -->