/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    // margin: 0;
    // font-family: Helvetica, Arial, Sans-Serif; 
    font-family: Public Sans,sans-serif;
    overflow-y:hidden;
    overflow-x: hidden;
    
}

