<div class="groups-tot-div">
    <div class="groups-align">
        <div class="groups">
            <div class="col group-txt">
                <span>Groups</span>
            </div>
            <div class="col group-icon">
                <mat-icon>group</mat-icon>
            </div>
            
        </div>
        <div class="serach-input-tot-div">
            <mat-form-field appearance=outline>  
                <!-- <mat-label> Outline form field </mat-label>   -->
                <mat-icon matPrefix class="search-icon"> search </mat-icon>
                <input matInput placeholder = "Serarch messages or users" class="search-input">                    
              </mat-form-field>
        </div>
    </div>
    <div class="groups-align-list scrollbar">
        <ul class="nobull">
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#General</span>                            
                        </div>
                        <div class="col message-count">                           
                            <!-- <p>+23</p>                             -->
                        </div>
                    </div>
                </a>
            </li> 
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#Reporting</span>                            
                        </div>
                        <div class="col message-count">                           
                            <p>+23</p>                            
                        </div>
                    </div>
                </a>
            </li> 
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#Designers</span>                            
                        </div>
                        <div class="col message-count">                           
                            <!-- <p>+23</p>                             -->                         
                        </div>
                    </div>
                </a>
            </li> 
            
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#Developers</span>                            
                        </div>
                        <div class="col message-count">                          
                            <p>New</p>  
                        </div>
                    </div>
                </a>
            </li> 
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#Project-alpha</span>                            
                        </div>
                        <div class="col message-count">                           
                            <!-- <p>+23</p>                             -->
                        </div>
                    </div>
                </a>
            </li> 
            <li>
                <a>
                    <div class="group-list-div">
                        <div class="col group-list">
                            <!-- <div class="chat-list-avatar" >
                                
                                <img _ngcontent-abh-c122="" src="assets/images/avatar-3.jpg" height="33" class="rounded-circle">
                            </div> -->
                            <span class="avatar-icons-instead-txt">C</span>
                        </div>
                        
                        <div  class="col group-list-name">
                            <span>#Snacks</span>                            
                        </div>
                        <div class="col message-count">                           
                            <!-- <p>+23</p>                             -->
                        </div>
                    </div>
                </a>
            </li>    
        </ul>
    <div>
    
</div>
