<div class="row">
  <div class="container">
    <div class="row border-bottom head">
      <div class="col-6  chat-header">
        <div class="row " style="align-items: center;">
          <div class="col " style="margin-right:10px; max-width: 45px;">
            <a>
              <img src="assets/images/avatar-4.jpg" height="35" class="rounded-circle">
            </a>
          </div>
          <div class="col">
            Doris Brown <i class="bi bi-record-circle-fill "></i>
          </div>
        </div>
      </div>
      <div class="col-6  text-end chat-hader-nav">
        
        <button mat-icon-button [matMenuTriggerFor]="menu_search" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon class="px-4">search</mat-icon>
          </button>
          <mat-menu #menu_search="matMenu" xPosition="after" class="my-menu">
            <form class="example-form">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Search.." style="width: 100%; ;">
              </mat-form-field>
            </form>            
          </mat-menu>


        <mat-icon class="px-4" (click)="rightSideBar()">person_outline</mat-icon>
        
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon class="px-4">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after" class="my-menu">
            <button mat-menu-item>
              <span>Archive</span>
              <mat-icon>archive</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Muted</span>
              <mat-icon>volume_off</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Deleted</span>
              <mat-icon>delete_outline</mat-icon>
            </button>            
          </mat-menu>
      </div>      
    </div>
    <div class="row p-4 content">
      <div class="chat-message-1">
        <div class="avatar-con chat-message-1-image">
          <img src="assets/images/avatar-4.jpg" height="33" class="rounded-circle">
        </div>
        <div class="chat-con">
          <div class="row chat-lef-div">
            <span class="chat-box">Good Morning
              <p class="text-end text-color" style="font-size: 12px; color: hsla(0,0%,100%,.5);"> <i
                  class="bi bi-clock "></i>10.00</p></span>
          </div>
          <div class="row left-chat-name">
            <p style="padding: 5px 0 0 0;">Dorsin Brown</p>
          </div>
        </div>
        <div class="chatmenu-con" style="margin-left:5px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after" class="my-menu">
            <button mat-menu-item>
              <span>Copy</span>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Save</span>
              <mat-icon>save</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Forward</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class=""
        style="display:flex;flex-direction:row;justify-content: end;align-items: flex-end;height: auto;margin-bottom: 24px;">
        <div class="chatmenu-con" style="margin-bottom: 75px; margin-right:5px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Copy</span>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Save</span>
              <mat-icon>save</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Forward</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-menu>
        </div>
        <div class="chat-con">
          <div class="row chat-lef-div">
            <span class="chat-box1">Good morning, How are you? What about our next meeting?
              <p class="text-start text-muted"> <i class="bi bi-clock tex "></i>10.02</p></span>
          </div>
          <div class="row right-chat-name">
            <p style="padding: 5px 0 0 0;">Patricia Smith</p>
          </div>
        </div>
        <div class="avatar-con "
          style="display:flex; align-items: flex-end; width:40px;height: 100%;padding-bottom: 18px; padding-left:25px; margin-right: 15px;">
          <img src="assets/images/avatar-1.jpg" height="33" class="rounded-circle">
        </div>
      </div>
      <hr class="hr-text" data-content="Today">
      <div class="chat-message-1">
        <div class="avatar-con chat-message-1-image">
          <img src="assets/images/avatar-4.jpg" height="33" class="rounded-circle">
        </div>
        <div class="chat-con">
          <div class="row chat-lef-div">
            <span class="chat-box">Good Morning
              <p class="text-end text-color" style="font-size: 12px; color: hsla(0,0%,100%,.5);"> <i
                  class="bi bi-clock "></i>10.00</p></span>
          </div>
          <div class="row left-chat-name">
            <p style="padding: 5px 0 0 0;">Dorsin Brown</p>
          </div>
        </div>
        <div class="chatmenu-con" style="margin-left:5px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after" class="my-menu">
            <button mat-menu-item>
              <span>Copy</span>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Save</span>
              <mat-icon>save</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Forward</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class=""
        style="display:flex;flex-direction:row;justify-content: end;align-items: flex-end;height: auto;margin-bottom: 24px;">
        <div class="chatmenu-con" style="margin-bottom: 75px; margin-right:5px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Copy</span>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Save</span>
              <mat-icon>save</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Forward</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-menu>
        </div>
        <div class="chat-con">
          <div class="row chat-lef-div">
            <span class="chat-box1">Wow that's great
              <p class="text-start text-muted"> <i class="bi bi-clock tex "></i>10.06</p></span>
          </div>
          <div class="row right-chat-name">
            <p style="padding: 5px 0 0 0;">Patricia Smith</p>
          </div>
        </div>
        <div class="avatar-con left-chat-image"
          style="width:40px;height: 100%;padding-bottom: 18px; padding-left:25px; margin-right: 15px;">
          <img src="assets/images/avatar-1.jpg" height="33" class="rounded-circle">
        </div>
      </div>
      <!-- ------------------------------ -->
      <div class=""
        style="display:flex;flex-direction:row;justify-content: start;align-items: flex-start;height: auto;margin-bottom: 24px;">
        <div class="avatar-con left-chat-image"
          style="width:40px;height: 100%;padding-bottom: 35px;margin-right: 15px;">
          <img src="assets/images/avatar-4.jpg" height="30" class="rounded-circle">
        </div>
        <div class="chat-con">
          <div class="row chat-lef-div">
            <span class="chat-box">
              <div style="display: flex; ">
                <div style="position: relative;">
                  <img src="assets/images/img-1.jpg" height="100"
                    style="margin: 5px 10px; border-radius: 5px; border: 1px solid white;  ">
                  <div style="position: absolute; bottom: 16px;right: 60px; ">
                    <i _ngcontent-deg-c124="" class="bi bi-download text-muted"
                      style="font-size: 16px; color: white !important; font-weight: 600;"></i>
                  </div>
                  <div style="position: absolute; bottom:5px; right: 10px;">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                      class="border-0 text-muted" style="background-color: transparent; ">
                      <mat-icon style="color: white;">more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <span>Copy</span>
                        <mat-icon>file_copy</mat-icon>
                      </button>
                      <button mat-menu-item>
                        <span>Save</span>
                        <mat-icon>save</mat-icon>
                      </button>
                      <button mat-menu-item>
                        <span>Forward</span>
                        <mat-icon>arrow_forward</mat-icon>
                      </button>
                      <button mat-menu-item>
                        <span>Delete</span>
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div>
                  <img src="assets/images/img-2.jpg" height="100"
                    style="margin: 5px 10px; border-radius: 5px; border: 1px solid white;  ">
                </div>
              </div>
              <p class="text-end text-color"> <i class="bi bi-clock "></i>10.02</p>
            </span>
          </div>
          <div class="row left-chat-name">
            <p style="padding: 5px 0 0 0;">Dorsin Brown</p>
          </div>
        </div>
        <div class="chatmenu-con" style="margin-left:15px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="border-0 bg-white text-muted">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Copy</span>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Save</span>
              <mat-icon>save</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Forward</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="footer border-top" style="height: 90px; display: flex; align-items: center; ">
      <div class="col " style="width: calc(100% - 160px);">
        <form class="example-form">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter message..." style="width: 100%; ;">
          </mat-form-field>
        </form>
      </div>
      <div class="col"
        style="display: flex; align-items: center; font-size: 20px; color:#7369ee; max-width: 160px; min-width: 160px;">
        <div calss="col" style="margin: 0 10px;">
          <mat-icon>face</mat-icon>
        </div>
        <div style="margin: 0 10px;">
          <mat-icon> attach_file</mat-icon>
        </div>
        <div style="margin: 0 10px;">
          <button mat-button class="shadow-lg send-button  ">
            <mat-icon class="text-white">play_arrow</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
